@import /src/styles.sass

.sect-tittle
	@include flex-center
	align-items: center

.sect-btns
	@extend .sect-tittle
	margin-left: -188px

h1
	@include tittles
	font-size: 85px
	margin-bottom: 35px
	margin-top: 25px

.btn-classic
	@include btnclassic
	color: $dark-color
	border: 2px solid $btn-orange
	background-color: $lg-color
	margin-right: 35px
	font-size: 20px

.btn-classic-b
	@extend .btn-classic
	background-color: $btn-orange

.btns-aside
	width: 180px
	background-color: $dark-orange
	height: 100%
	margin-top: -240px
	margin-left: -10px

.logo-aside
	width: 187px
	margin-bottom: 45px
	margin-top: 15px

aside
	@include flex-center

.btn-user
	@include btnshop

.btn-note
	@include btnnote

.btn-back
	@include btnback

.list-workers
	@include listWorkers

.worker
	@include worker
	.btn-worker
		@include btnworker

.order
	@include flex-center
	border-radius: 7px
	border: 2px solid $btn-orange
	margin-top: -626px
	margin-left: 827px
	width: 326px
	height: 591px

.tittle
	@include flex-center
	background-color: $btn-orange
	width: 327px
	height: 40px
	margin-bottom: 38px
	h2
		font-family: $font-content
		font-size: 23px
		color: $lg-color
		margin-top: 3px
		margin-bottom: 10px

.inputContainer
	position: relative
	height: 45px
	width: 42%
	margin-bottom: 45px
	margin-left: 31px
	color: $btn-orange
	font-size: 18px

.input
	position: absolute
	top: 0px
	left: 0px
	height: 100%
	width: 160%
	border: 2px solid $btn-orange
	border-radius: 7px
	font-size: 15px
	padding: 0 20px
	outline: none
	background: none
	z-index: 1
	&:focus+.label
		top: -20px
		left: 3px
		z-index: 10
		font-size: 16px
		font-weight: 600
		color: $dark-orange

::placeholder
	color: transparent

.label
	position: absolute
	top: 15px
	left: 15px
	padding: 0 4px
	color: #DADCE0
	font-family: $font-content
	font-size: 15px
	transition: 0.5s
	z-index: 0

.input:not(:placeholder-shown)+.label
	top: -20px
	left: 3px
	z-index: 10
	font-size: 14px
	font-weight: 600

#cancel-user
	@include btnclassic
	background-color: $red-color
	color: $lg-color
	font-size: 15px
	margin-right: 16px
	margin-left: 20px

#new-user
	@extend #cancel-user
	background-color: $green-color
