<div>
    <div class="sect-tittle">
        <h1>Ordenes</h1>
    </div>

    <div class="btns-aside">
        <aside>
            <img class="logo-aside" src="/assets/images/logo-aside.png" />
        </aside>
        
        <aside>
            <a [routerLink]="['/menu/breakfast']">
                <button type="button" class="btn-shop"
                    style="background-image:url(/assets/images/btn-dark-shop.png);"></button>
            </a>
        </aside>

        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-lg-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>
    </div>

    <div class="tabOfOrders">
        <article class="order" *ngFor="let order of filteredOrders">
            <div class="idOrder">
                <p> Orden #{{order.id}}</p>
            </div>
            <div class="dataClient">
                <p class="date"> Hora: <span>{{order.dataEntry.split(" ")[1]}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mesa: <span>{{order.table}}</span></p>
                <p class="client">Cliente: <span>{{order.client}}</span></p>
                <p class="productsLabel">Productos:</p>
                <div class="products" *ngFor="let product of order.products">
                    <p class="productName">{{product.name}} &nbsp;&nbsp; <span>x
                            {{product.qty}} &nbsp; (${{product.qty * product.price}} )</span></p>
                </div>
            </div>
            <div class="btnsRC">
                <button type="button" (click)="cancelOrder(order.id)" class="btn-cancel">Cancelar Orden</button>
            </div>
            <button type="button" class="btn-status"
                style="background-image:url(/assets/images/btn-pending.png);"></button>
        </article>

        <article class="order" *ngFor="let order of filteredOrdersReady">
            <div class="idOrder">
                <p> Orden #{{order.id}}</p>
            </div>
            <p class="date"> Hora: <span>{{order.dataEntry.split(" ")[1]}}</span></p>
            <p class="table"> Mesa: <span>{{order.table}}</span></p>
            <p class="client">Cliente: <span>{{order.client}}</span></p>
            <p class="productsLabel">Productos:</p>
            <div class="products" *ngFor="let product of order.products">
                <p class="productName">{{product.name}} &nbsp;&nbsp;&nbsp; <span>x
                        {{product.qty}}</span></p>
            </div>
            <div class="btnsRC">
                <button type="button" (click)="finishOrder(order.id)" class="btn-ready">Entregar Orden</button>
            </div>
            <button type="button" class="btn-status"
                style="background-image:url(/assets/images/btn-ready.png);"></button>

        </article>
    </div>
</div>