<div>
    <div class="sect-tittle">
        <h1>Ordenes</h1>
    </div>
    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-lg-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="tabOfOrders">
        <article class="order" *ngFor="let order of filteredOrders">
            <div class="idOrder">
                <p> Orden #{{order.id}}</p>
            </div>
            <p class="date"> Hora: <span>{{order.dataEntry.split(" ")[1]}}</span></p>
            <p class="table"> Mesa: <span>{{order.table}}</span></p>
            <p class="client">Cliente: <span>{{order.client}}</span></p>
            <p class="productsLabel">Productos:</p>
            <div class="products" *ngFor="let product of order.products">
                <p class="productName">{{product.product.name}} &nbsp;&nbsp;&nbsp; <span>x
                        {{product.product.qty}}</span></p>
            </div>
            <div class="btnsRC">
                <button type="button" class="btn-ready">Orden Terminada</button>
            </div>
        </article>

        <article class="order" *ngFor="let order of filteredOrdersReady">
            <div class="idOrder">
                <p> Orden #{{order.id}}</p>
            </div>
            <p class="date"> Hora: <span>{{order.dataEntry.split(" ")[1]}}</span></p>
            <p class="table"> Mesa: <span>{{order.table}}</span></p>
            <p class="client">Cliente: <span>{{order.client}}</span></p>
            <p class="productsLabel">Productos:</p>
            <div class="products" *ngFor="let product of order.products">
                <p class="productName">{{product.product.name}} &nbsp;&nbsp;&nbsp; <span>x
                        {{product.product.qty}}</span></p>
            </div>
            <div class="btnsRC">
                <button type="button" class="btn-cancel">Regresar a Cocina</button>
            </div>
            <button type="button" class="btn-status"
                style="background-image:url(/assets/images/btn-ready.png);"></button>

        </article>
    </div>
</div>