@import /src/styles.sass

.sect-tittle
	@include flex-center
	align-items: center

h1
	@include tittles
	font-size: 85px
	margin-bottom: 35px
	margin-top: 25px

.btns-aside
	width: 180px
	margin-top: 80px

aside
	@include flex-center

.btn-note
	@include btnnote

.btn-back
	@include btnback
