<div>
    <div class="sect-tittle">
        <h1>Ordenes</h1>
    </div>
    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-lg-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="order">
        <article class="uniqOrder" *ngFor="let order of orders">
            <div class="dataOrder">
                <p class="idOrder">ID: {{order.id}}</p>
                <p>Meserx: {{order.waitress}}</p>
                <p>Mesa: {{order.table}}</p>
            </div>
        </article>
    </div>
</div>