<div>
    <div class="sect-tittle">
        <h1>Menu</h1>
    </div>
    <div class="sect-btns">
        <button type="button" class="btn-classic">Desayuno</button>
        <a [routerLink]="['/add/products/lunch']">
            <button type="button" class="btn-classic-b">Comida</button>
        </a>
    </div>

    <div class="btns-aside">
        <aside>
            <a [routerLink]="['/add/waitress']">
                <button type="button" class="btn-user"
                    style="background-image:url(/assets/images/btn-dark-user.png);"></button>
            </a>
        </aside>

        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-lg-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="list-products">
        <article class="product" *ngFor="let product of filteredProducts">
            <img class="img-menu" src="{{product.image}}" alt="">
            <p id="name-product">Nombre: {{product.name}}</p>
            <p id="price-product">Precio: {{product.price}}</p>
            <button type="button" class="btn-edit" style="background-image:url(/assets/images/edit-btn.png);"></button>
            <button type="button" class="btn-delete"
                style="background-image:url(/assets/images/delete-btn.png);"></button>
        </article>
    </div>

    <div class="add-products">
        <article class="order">
            <form action="">
                <div class="tittle">
                    <h2>Agregar producto</h2>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Nombre</label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Precio</label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Imagen</label>
                </div>

                <div class="inputContainer">
                    <select name="Tipo" id="" class="type-selector">
                        <option value="Desayuno">Desayuno</option>
                        <option value="Comida">Comida</option>
                    </select>
                </div>

                <button type="button" id="cancel-user">Cancelar</button>
                <button type="button" id="new-user">Aceptar</button>
            </form>
        </article>
    </div>

</div>