<div>
    <div class="sect-tittle">
        <h1>Menu</h1>
    </div>
    <div class="sect-btns">
        <a [routerLink]="['/add/products/breakfast']">
            <button type="button" class="btn-classic-b">Desayuno</button>
        </a>
        <button type="button" class="btn-classic">Comida</button>
    </div>

    <div class="btns-aside">
        <aside>
            <a [routerLink]="['/add/waitress']">
                <button type="button" class="btn-user"
                style="background-image:url(/assets/images/btn-dark-user.png);"></button>
            </a>
        </aside>

        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-lg-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back" style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="list-products">
        <article class="product" *ngFor="let product of filteredProducts">
            <img class="img-menu" src="{{product.image}}" alt="">
            <p id="name-product">Nombre: {{product.name}}</p>
            <p id="price-product">Precio: $ {{product.price}}</p>
            <a routerLink="/products/{{product.id}}/edit">
                <button type="button" class="btn-edit" style="background-image:url(/assets/images/edit-btn.png);"></button>
            </a>
            <button type="button" class="btn-delete"
                style="background-image:url(/assets/images/delete-btn.png);"></button>
        </article>
    </div>

    <div>
        <article class="order">
            <form [formGroup]="newProduct" (ngSubmit)="addProduct(newProduct.value)">
                <div class="tittle">
                    <h2>Agregar producto</h2>
                </div> 

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="name">
                    <label for="" class="label">Nombre</label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="price">
                    <label for="" class="label">Precio</label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="image">
                    <label for="" class="label">Imagen</label>
                </div>

                <button type="reset" id="cancel-user">Cancelar</button>
                <button type="submit" id="new-user">Aceptar</button>
            </form>        
        </article>
    </div>

</div>
