<div>
    <div class="sect-tittle">
        <h1>Trabajadorxs</h1>
    </div>
    <div class="sect-btns">
        <a [routerLink]="['/add/waitress']">
            <button type="button" class="btn-classic-b">Meserxs</button>
        </a>
        <button type="button" class="btn-classic">Chef</button>
    </div>

    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-user"
                style="background-image:url(/assets/images/btn-lg-user.png);"></button>
        </aside>

        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-dark-note.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="add-user">
        <article class="user-info">
            <p id="user">Usuario</p>
            <p id="name-user">Nombre</p>
            <p id="role">Rol</p>
            <p id="email">Email</p>
        </article>
    </div>

    <div>
        <article class="order">
            <form action="">
                <div class="tittle">
                    <h2>Agregar chef</h2>
                </div> 

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Usuario </label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Nombre </label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Rol </label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" class="input" placeholder="">
                    <label for="" class="label">Contraseña </label>
                </div>

                <button type="button" id="cancel-user">Cancelar</button>
                <button type="button" id="new-user">Aceptar</button>
            </form>        
        </article>
    </div>

</div>