<div class="back">
  <div class="content">
    <section class="sect-tittle">
      <label for="">
        <h1>Burguer Queen</h1>
      </label>
    </section>

    <div class="login-back">
      <form action="">
        <label>
          <h2>Login</h2>
        </label>

        <div class="inputContainer">
          <input type="email" id="email" class="input" placeholder="" required>
          <label for="" class="label">Email</label>
        </div>

        <div class="inputContainer">
          <input type="password" class="input" placeholder="" required>
          <label for="" class="label">Contraseña</label>
        </div>

        <button type="button" class="btn-classic"> Ingresar </button>
      </form>
    </div>

  </div>
</div>






<!--  -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>