<div>
    <div class="sect-tittle">
        <h1>Trabajadorxs</h1>
    </div>
    <div class="sect-btns">
        <button type="button" class="btn-classic">Meserxs</button>
        <a [routerLink]="['/add/chef']">
            <button type="button" class="btn-classic-b">Chef</button>
        </a>
        <a [routerLink]="['/add/admin']">
            <button type="button" class="btn-classic-b">Admin</button>
        </a>
    </div>

    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-user"
                style="background-image:url(/assets/images/btn-lg-user.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['/add/products/breakfast']">
                <button type="button" class="btn-note"
                    style="background-image:url(/assets/images/btn-dark-note.png);"></button>
            </a>
        </aside>

        <aside>
            <a [routerLink]="['']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>

    </div>

    <div class="list-workers">
        <article class="worker" *ngFor="let worker of filteredWorkers">
            <a routerLink="/details/{{worker.id}}">
                <button type="button" class="btn-worker">{{worker.nickname}}</button>
            </a>
            
        </article>
    </div>

    <div>
        <article class="order">
            <form [formGroup]="newUser" (ngSubmit)="addUser(newUser.value)">
                <div class="tittle">
                    <h2>Agregar Meserx</h2>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="nickname">
                    <label for="" class="label">Usuario </label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="name">
                    <label for="" class="label">Nombre </label>
                </div>

                <div class="inputContainer">
                    <input type="email" class="input" placeholder="" formControlName="email">
                    <label for="" class="label">Email </label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="" formControlName="password">
                    <label for="" class="label">Contraseña </label>
                </div>

                <button type="reset" id="cancel-user">Cancelar</button>
                <button type="submit" id="new-user">Aceptar</button>
            </form>
        </article>
    </div>

</div>