@import 'https://fonts.googleapis.com/css2?family=Modak&family=Montserrat&display=swap'

$font-tittle: 'Modak'
$font-content: 'Montserrat'
$dark-color: #3F120F
$lg-color: #FFF9E7
$btn-orange: #E59328
$dark-orange: #E59328
$red-color: #FA6C52
$green-color: #02915F

@mixin bgCommon
	background-image: url(/assets/images/fondo-common.png)
	background-repeat: no-repeat

@mixin btnback
	background-size: cover
	border: none
	background-color: transparent
	width: 65px
	height: 65px
	margin-bottom: 30px
	margin-top: 30px
	cursor: pointer

@mixin btnclassic
	padding: 10px 30px 10px 30px
	border-radius: 7px
	text-decoration: none
	font-family: $font-content
	font-weight: bold
	outline: 0
	align-items: center
	display: inline-flex
	line-height: 1.5
	border: none
	cursor: pointer

@mixin btnfood
	width: 150px
	height: 150px
	background-size: cover
	background-color: transparent
	border: none
	margin-top: 15px
	margin-left: 15px
	margin-right: 15px
	margin-bottom: 15px
	cursor: pointer

@mixin btnForm
	background-color: $red-color
	color: $lg-color
	font-size: 15px
	margin-right: 16px
	margin-left: 20px
	margin-bottom: 10px

@mixin btnnote
	background-size: cover
	border: none
	background-color: transparent
	width: 60px
	height: 81px
	margin-bottom: 30px
	margin-top: 30px
	cursor: pointer

@mixin btnsEditDel
	border: none
	background-color: transparent
	background-size: cover
	width: 50px
	height: 50px
	margin-left: 25px
	margin-right: 25px
	cursor: pointer
	margin-bottom: 10px

@mixin btnshop
	background-size: cover
	border: none
	background-color: transparent
	width: 70px
	height: 70px
	margin-bottom: 30px
	margin-top: 30px
	cursor: pointer

@mixin btnsPlusMin
	background-size: cover
	background-color: transparent
	border: none
	width: 15px
	height: 15px
	margin-left: 15px
	margin-right: 15px
	cursor: pointer

@mixin btnworker
	border: 1px solid rgba(255, 255, 255, .25)
	border-radius: 20px
	background-color: rgba(255, 255, 255, 0.45)
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25)
	backdrop-filter: blur(15px)
	height: 160px
	width: 160px
	color: $dark-color
	font-size: 20px
	font-family: $font-content
	outline: 0
	align-items: center
	justify-content: center
	display: grid
	cursor: pointer

@mixin containerFood
	display: inline-block
	margin-right: 5px
	margin-left: 5px
	margin-bottom: 5px
	margin-top: 5px

@mixin containerTotal
	font-size: 18px
	margin-left: 164px
	margin-top: 26px
	color: $dark-color

@mixin edit
	height: 100%
	width: 511px
	margin-left: 396px
	margin-top: -15px
	cursor: auto
	h2
		color: $btn-orange
		text-align: center
		font-size: 30px
		font-weight: bold
		margin-bottom: 15px

@mixin flex-center
	display: flex
	justify-content: center

@mixin input
	position: absolute
	top: 0px
	left: 0px
	height: 88%
	width: 160%
	border: 2px solid $btn-orange
	border-radius: 7px
	font-size: 15px
	padding: 0 20px
	outline: none
	background: none
	z-index: 1
	&:focus+.label
		top: -20px
		left: 3px
		z-index: 10
		font-size: 15px
		font-weight: 600
		color: $dark-orange

@mixin inputContainer
	position: relative
	height: 45px
	width: 42%
	margin-bottom: 25px
	margin-left: 31px
	color: $btn-orange
	font-size: 18px

@mixin imgFood
	width: 600px
	margin-top: -430px
	margin-left: 250px

@mixin imgMenu
	width: 150px
	height: 150px
	margin-top: 10px
	background-size: cover
	background-color: transparent
	border: none

@mixin imgsProducts
	margin-right: 5px
	margin-left: 5px
	display: flex
	width: 255px
	height: 141px

@mixin label
	position: absolute
	top: 10px
	left: 15px
	padding: 0 4px
	color: #DADCE0
	font-family: $font-content
	font-size: 15px
	transition: 0.5s
	z-index: 0

@mixin listProducts
	width: 572px
	margin-left: 200px
	margin-top: 25px

@mixin listWorkers
	width: 543px
	margin-left: 218px
	margin-top: 20px

@mixin logoAside
	width: 187px
	margin-bottom: 45px
	margin-top: 15px

@mixin menuAside
	width: 180px
	background-color: $dark-orange
	height: 100%
	margin-top: -197px
	margin-left: -10px
	position: fixed

@mixin nicknameWorker
	text-align: center
	font-size: 25px
	font-weight: bold
	color: $dark-orange
	margin-top: 10px

@mixin qtyProducts
	margin-top: -42px
	margin-left: 190px
	display: flex
	align-items: center
	justify-content: center
	font-size: 16px
	color: $dark-color

@mixin orderContainer
	border-radius: 7px
	border: 2px solid $btn-orange
	margin-top: -438px
	margin-left: 827px
	width: 326px

@mixin product
	border: 1px solid rgba(255, 255, 255, .25)
	border-radius: 20px
	background-color: rgba(255, 255, 255, 0.45)
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25)
	backdrop-filter: blur(15px)
	line-height: 0.5
	text-align: center
	width: 249px
	display: inline-block
	margin-right: 15px
	margin-left: 15px
	margin-bottom: 15px
	margin-top: 15px

@mixin tittles
	font-family: $font-tittle
	color: $dark-color

@mixin titlesFormAdd
	background-color: $btn-orange
	width: 327px
	height: 40px
	margin-bottom: 25px
	h2
		font-family: $font-content
		font-size: 23px
		color: $lg-color
		margin-top: 3px
		margin-bottom: 10px

@mixin worker
	height: 160px
	width: 160px
	margin-bottom: 10px
	margin-top: 10px
	margin-right: 10px
	margin-left: 10px
	display: inline-block

body
	background-color: $lg-color
	width: 100%
	height: 100vh
	font-family: $font-content
