@import 'https://fonts.googleapis.com/css2?family=Modak&family=Montserrat&display=swap'

$font-tittle: 'Modak'
$font-content: 'Montserrat'
$dark-color: #3F120F
$lg-color: #FFFFE5
$btn-orange: #E59328
$dark-orange: #E59328

@mixin tittles
    font-family: $font-tittle
    color: $dark-color

@mixin btnclassic
    padding: 10px 30px 10px 30px
    border-radius: 7px
    text-decoration: none
    font-family: $font-content
    font-size: 25px
    font-weight: bold

@mixin flex-center
    display: flex
    justify-content: center
    

body
    background-color: $lg-color
    font-family: $font-content
