<div>
    <div class="sect-tittle">
        <h1>Menú</h1>
    </div>
    <div class="sect-btns">
        <button type="button" class="btn-classic">Desayuno</button>
        <button type="button" class="btn-classic-b">Comida</button>
    </div>

    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-shop"
                style="background-image:url(/assets/images/btn-lg-shop.png);"></button>
        </aside>

        <aside>
            <button type="button" class="btn-note"
                style="background-image:url(/assets/images/btn-dark-note.png);"></button>
        </aside>

        <aside>
            <button type="button" class="btn-back" style="background-image:url(/assets/images/btn-back.png);"></button>
        </aside>

    </div>

    <div class="buttons-menu">
        <button type="button" class="btn-food" id="sandwich"
            style="background-image:url(/assets/images/sandwich.png);"></button>
        <button type="button" class="btn-food" id="juice-fruit"
            style="background-image:url(/assets/images/american-coffee.png);"></button>
        <button type="button" class="btn-food" id="latte"
            style="background-image:url(/assets/images/latte.png);"></button>
        <button type="button" class="btn-food" id="american-coffee"
            style="background-image:url(/assets/images/fruit-juice.png);"></button>
    </div>

    <div>
        <article class="order">
            <div>
                <h2>Orden</h2>
            </div>
            <div class="info-users">
                <div id="user">Mariana</div>
                <div id="customer">andrea</div>
            </div>
        </article>

        <button type="button" id="send-kitchen">Enviar a Cocina</button>
    </div>

</div>