@import /src/styles.sass

.sect-tittle
	@include flex-center
	align-items: center

.sect-btns
	@extend .sect-tittle
	margin-left: -188px

h1
	@include tittles
	font-size: 85px
	margin-bottom: 35px
	margin-top: 25px

.btn-classic
	@include btnclassic
	color: $dark-color
	border: 2px solid $btn-orange
	background-color: $lg-color
	margin-right: 35px

.btn-classic-b
	@extend .btn-classic
	background-color: $btn-orange

.btns-aside
	width: 180px

aside
	@include flex-center

.btn-user
	@include btnshop

.btn-note
	@include btnnote

.btn-back
	@include btnback

.edit-workers
	border-radius: 7px
	border: 2px solid $btn-orange
	height: 467px
	width: 511px
	margin-left: 396px
	margin-top: -390px
	h3
		color: $btn-orange
		text-align: center
		font-size: 30px
		font-weight: bold

.inputContainer
	position: relative
	height: 45px
	width: 42%
	margin-left: 31px
	margin-bottom: 20px
	color: $btn-orange
	font-size: 20px
	font-weight: bold
	.input-edit
		font-size: 18px
		font-family: $font-content
		width: 427px

.btnContainer
	@include flex-center
	margin-top: 49px
	.btn-acept
		@include btnclassic
		background-color: $green-color
		color: $lg-color
		font-size: 18px
		align-content: center
		margin-left: 40px
		margin-right: 40px
	.btn-cancel
		@extend .btn-acept
		background-color: $red-color
