<div>
    <div class="sect-tittle">
        <h1>Trabajadorxs</h1>
    </div>
    <div class="sect-btns">
        <a [routerLink]="['/add/waitress']">
            <button type="button" class="btn-classic-b">Meserxs</button>
        </a>
        <a [routerLink]="['/add/chef']">
            <button type="button" class="btn-classic-b">Chef</button>
        </a>
        <a [routerLink]="['/add/admin']">
            <button type="button" class="btn-classic-b">Admin</button>
        </a>
    </div>

    <div class="btns-aside">
        <aside>
            <button type="button" class="btn-user"
                style="background-image:url(/assets/images/btn-lg-user.png);"></button>
        </aside>

        <aside>
            <a [routerLink]="['/add/products/breakfast']">
                <button type="button" class="btn-note"
                    style="background-image:url(/assets/images/btn-dark-note.png);"></button>
            </a>
        </aside>

        <aside>
            <a [routerLink]="['/add/admin']">
                <button type="button" class="btn-back"
                    style="background-image:url(/assets/images/btn-back.png);"></button>
            </a>
        </aside>
    </div>

    <div class="edit-workers">
        <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
            <h3>Editar</h3>
            <div class="inputContainer">
                <label for="">Usuario</label>
                <input type="text" class="input-edit" placeholder="Usuario" formControlName="nickname">
            </div>

            <div class="inputContainer">
                <label for="">Nombre</label>
                <input type="text" class="input-edit" placeholder="Nombre" formControlName="name">
            </div>

            <div class="inputContainer">
                <label for="">Email</label>
                <input type="text" class="input-edit" placeholder="Email" formControlName="email">
            </div>

            <div class="inputContainer">
                <label for="">Image</label>
                <input type="text" class="input-edit" placeholder="Image" formControlName="image">
            </div>

            <div class="btnContainer">
                <a [routerLink]="['/add/waitress']">
                    <button class="btn-cancel">Cancelar</button>
                </a>
                <button type="submit" class="btn-acept">Aceptar</button>
            </div>

        </form>
    </div>


</div>